<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(%d{HH:mm:ss.SSS}) %highlight([%thread] %-5level) %yellow(%logger{36}) - %green(%msg%n)</pattern>
        </encoder>
    </appender>
    <root level="trace">
        <appender-ref ref="STDOUT"/>
    </root>
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="io.netty" level="INFO"/>
    <logger name="org.apache.kafka.clients.producer" level="INFO"/>
<!--    <logger name="org.apache.kafka.clients.Metadata" level="WARN"/>-->
    <logger name="org.apache.kafka" level="ERROR"/>
<!--    <logger name="org.apache.kafka.common.metrics" level="WARN"/>-->
</configuration>